# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.log

# Node & Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Secrets (CRITICAL)
.env
backend/.env
frontend/.env
*.pem
