fastapi
speedtest-cli
uvicorn
telnetlib3
sqlalchemy
alembic
pymysql
slowapi
python-dotenv
pyjwt
passlib
bcrypt==4.0.1
python-multipart
email-validator
groq
openai
anyio
mcp[cli]>=1.26.0
SpeechRecognition
pydub
gTTS
cryptography
pyyaml